
 $black : #090909;
$pink : #fadce6;
$blue : #0AAFFE;

$white : #f1fbfc;
$shop :#E240A3;
 $yellow : #D3B306;

 .myTextPink{
 color:  $pink !important ;
 }
 
.myBgPink{
   background-color:$pink;
}

 .myTextBlack{
 color:  $black ;
 }
 
.myBgPink{
   background-color:$black;
}

.myBgDarkPink{
   background-color: $shop !important;
}
 .myTextDarkPink{
 color: $shop !important;
 }
 
.myBgWhite{
   background-color:$white ;
}
 .myTextBlu{
 color:$blue !important;
 }
  .myTextWhite{
 color:$white !important;
 }
 
.myBgBlu{
   background-color:$blue !important ;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;600;800&family=Rubik:wght@300;400;700;900&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
//font-family: 'Rubik', sans-serif;

// video 
/* .videocover{
 


background: url(assets/fc63bd42b7c94d3707601a795ff29c29.gif) no-repeat;

position: fixed; right: 0; bottom: 0;


min-width: 100%; min-height: 100%;


width: auto; height: auto; z-index: -100; 





background-size: cover; 




} 

  <video
        autoPlay
        loop
        muted
        playsInline
        src={videoback}
        className="videocover"
      >
        {" "}
      </video>*/


