@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.title {
    font-family: 'Pacifico', cursive;
   
}

.mybutton{
    background-color:#e240a4;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
border: none;
	
	font-weight:bold;
	height: 48px;
    width: 186px;
	text-decoration:none;
}
.mybutton:hover {
	
	background-color:#b92c83;
}
.mybutton:active {
	position:relative;
	top:1px;
}




.mybutton2{
    background-color: #0AAFFE;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	height: 48px;
    width: 186px;
border:	1px solid #e240a4;
	
	font-weight:bold;
	
	text-decoration:none;

}
.mybutton2:hover{
		background-color:#0088c7 !important;
	}	

.mybutton3{
    background-color: #0AAFFE;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	height: 37px;
    width: 103px;
border:	1px solid #e240a4;
	
	font-weight:bold;
	
	text-decoration:none;
}

.picdance{
	
	width: 400px;
	position: absolute;
	z-index: -100;
}
 
@media (max-width: 568px) {
  
.picdance{
	right: 20px;
	width: 200px;
	position: absolute;
	z-index: -100;
}
}
